.item{
    display: flex;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: seashell;
}
.designs img{
    border: 2px solid black;
    border-radius: 50px;
}

.main{
    text-align: center;
}